#center {
  position: absolute;

  display: block;
  top: 20%;
  left: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
}

#bottom {
  position: absolute;

  width: 50%;
  bottom: 5%;
  left: 50%;
  opacity: 1;
  -webkit-transform: translateX(-50%);
}

h1 {
  color: white;
  text-align: center;
}

#apodTitle {
  color: white;
  text-align: center;
  font-size: 36px;
}

#apodTime {
  font-size: 150px;
}

#apodLink {
  position: absolute;
  top: 3%;
  right: 2%;

  color: white;
}

#random {
  position: absolute;
  bottom: 3%;
  right: 2%;

  color: white;
}
