#center {
  position: absolute;

  display: block;
  top: 20%;
  left: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
}

#left {
  position: fixed;
  width: 10%;
  left: 2%;
  height: 100%;
}
#right {
  position: fixed;
  width: 10%;
  right: 2%;
  height: 100%;
}


#bottom {
  position: absolute;

  width: 50%;
  bottom: 5%;
  left: 50%;
  opacity: 1;
  -webkit-transform: translateX(-50%);
}

h1 {
  color: white;
  text-align: center;
}

#apodTitle {
  color: white;
  text-align: center;
  font-size: 36px;
}
#newDay {
  color: white;
  text-align: center;
  font-size: 20px;
}


#apodTime {
  font-size: 150px;
}

#apodBack {
  position: absolute;
  top: 50%;
  left: 2%;
  color: white;
  font-size: 30px;
}
#apodForward {
  position: absolute;
  top: 50%;
  right: 2%;
  color: white;
  font-size: 30px;
}


#today {
  position: absolute;
  top: 2%;
  left: 2%;
  color: white;
}

#apodLink {
  position: absolute;
  top: 2%;
  right: 2%;
  color: white;
}

#random {
  position: absolute;
  bottom: 2%;
  right: 2%;
  color: white;
}

#explanation {
  position: absolute;
  bottom: 2%;
  left: 2%;
  color: white;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
